<div>
  <h1>Lista de productos:</h1>

  <ul>
    {{#each productsToRender}}
      <li>
        <h2>Producto: {{this.title}}</h2>
        <p>Descripción: {{this.description}}</p>
        <p>Precio: $ {{this.price}}</p>
        <button
          class="addProductToCart"
          data-cid="{{cartId}}"
          data-pid="{{this._id}}"
          onclick="addToCart('{{cartId}}', '{{this._id}}')"
          type="button"
        >Agreagar al Carrito</button>
      </li>
    {{/each}}
  </ul>
</div>

<script src="/js/add.products.js"></script>